<div class="container">
  <header>
    <h1 class="heading margin-b-m">SpaceX Launch Program</h1>
  </header>
  <main class="wrapper flex">
    <div class="filter margin-b-m">
      <filters></filters>
    </div>
    <!-- <filters (filterAppliedEve)="filterAppliedEve($event)"></filters> -->
    <!-- Card HTML -->
    <div class="product__card flex">
      <div class="card margin-b-m" *ngFor="let product of products">
        <product-card [product]="product"></product-card>
      </div>
    </div>
  </main>
</div>