<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>XT Coding Assignment</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="heading margin-b-m">SpaceX Launch Program</h1>
        </header>
        <main class="wrapper flex">
            <!-- Filter HTML -->
            <div class="filter margin-b-m">
                <h2 class="filter__heading">filter</h2>
                <div class="filter__content">
                    <div class="filter__details margin-b-m">
                        <p><u>launch year</u></p>
                        <div class="filter__details--heading">
                            <ul class="flex">
                                <li class="active">2006</li>
                                <li>2007</li>
                                <li>2008</li>
                                <li>2009</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter__details margin-b-m">
                        <p><u>Successfull launch</u></p>
                        <div class="filter__details--heading">
                            <ul class="flex">
                                <li>True</li>
                                <li>False</li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter__details margin-b-m">
                        <p><u>Successfull Landing</u></p>
                        <div class="filter__details--heading">
                            <ul class="flex">
                                <li>True</li>
                                <li>False</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Card HTML -->
            <div class="product__card flex">
                <div class="card margin-b-m">
                    <div class="product__img">
                        <img src="./testimg.jpg" alt="image" class="img-responsive block">
                    </div>
                    <div class="product__details">
                        <h2 class="product__name">
                            FalconSat #1
                        </h2>
                        <div class="mission-id">
                            <strong>Mission Id :</strong>
                            <ul>
                                <li class="color-blue-light">{list Mission Ids}</li>
                            </ul>
                        </div>
                        <p><strong>Launch Year</strong> : <span class="color-blue-light">{launch_year}</span></p>
                        <p><strong>Successfull Launch </strong> : <span class="color-blue-light">{launch_year}</span>
                        </p>
                        <p><strong>Successfull Landing </strong> : <span class="color-blue-light">{launch_year}</span>
                        </p>

                    </div>

                </div>

                <div class="card margin-b-m">
                    <div class="product__img">
                        <img src="./testimg.jpg" alt="image" class="img-responsive block">
                    </div>
                    <div class="product__details">
                        <h2 class="product__name">
                            FalconSat #1
                        </h2>
                        <div class="mission-id">
                            <strong>Mission Id :</strong>
                            <ul>
                                <li class="color-blue">{list Mission Ids}</li>
                            </ul>
                        </div>
                        <p><strong>Launch Year</strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Launch </strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Landing </strong> : <span class="color-blue">{launch_year}</span></p>

                    </div>

                </div>

                <div class="card margin-b-m">
                    <div class="product__img">
                        <img src="./testimg.jpg" alt="image" class="img-responsive block">
                    </div>
                    <div class="product__details">
                        <h2 class="product__name">
                            FalconSat #1
                        </h2>
                        <div class="mission-id">
                            <strong>Mission Id :</strong>
                            <ul>
                                <li class="color-blue">{list Mission Ids}</li>
                            </ul>
                        </div>
                        <p><strong>Launch Year</strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Launch </strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Landing </strong> : <span class="color-blue">{launch_year}</span></p>

                    </div>

                </div>

                <div class="card margin-b-m">
                    <div class="product__img">
                        <img src="./testimg.jpg" alt="image" class="img-responsive block">
                    </div>
                    <div class="product__details">
                        <h2 class="product__name">
                            FalconSat #1
                        </h2>
                        <div class="mission-id">
                            <strong>Mission Id :</strong>
                            <ul>
                                <li class="color-blue">{list Mission Ids}</li>
                            </ul>
                        </div>
                        <p><strong>Launch Year</strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Launch </strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Landing </strong> : <span class="color-blue">{launch_year}</span></p>

                    </div>

                </div>

                <div class="card margin-b-m">
                    <div class="product__img">
                        <img src="./testimg.jpg" alt="image" class="img-responsive block">
                    </div>
                    <div class="product__details">
                        <h2 class="product__name">
                            FalconSat #1
                        </h2>
                        <div class="mission-id">
                            <strong>Mission Id :</strong>
                            <ul>
                                <li class="color-blue">{list Mission Ids}</li>
                            </ul>
                        </div>
                        <p><strong>Launch Year</strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Launch </strong> : <span class="color-blue">{launch_year}</span></p>
                        <p><strong>Successfull Landing </strong> : <span class="color-blue">{launch_year}</span></p>

                    </div>

                </div>
            </div>
        </main>
        <footer>
            <strong>Developed By: </strong> {developer name}
        </footer>
    </div>

</body>

</html>